{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Users list</h1>
    <div>
    <a class="btn btn-primary" href="{{ path('app_admin_user_new') }}" role="button">Add user</a>
    </div>
    <hr>
    <div id="data-table-instance">Loading...</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('_common/_datatable_js.html.twig') }}
{% endblock %}
