{% extends 'base.html.twig' %}

{% block page_title %}Liste des utilisateurs{% endblock %}

{% block page_content %}
    <div>
    <a class="btn btn-primary" href="{{ path('app_admin_user_new') }}" role="button">Add user</a>
    </div>
    <hr>
    <div id="data-table-instance">Loading...</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('_common/_datatable_js.html.twig') }}
{% endblock %}
