{% extends 'base.html.twig' %}

{% block page_title %}{{ 'users.new.title'|trans }}{% endblock %}

{% block page_actions %}<a href="{{ path('app_admin_user') }}" class="btn btn-outline-secondary" title="{{ 'btn.back'|trans }}"><i class="fa-solid fa-arrow-left"></i></a>{% endblock %}

{% block page_content %}
    {{ include('admin/user/_form.html.twig') }}
{% endblock %}
