{% if app.user.id != user.id %}
    <a href="{{ path('app_admin_user_delete', {id:user.id}) }}" class="btn btn-outline-danger" title="{{ 'btn.delete'|trans }}" onclick="return confirm('{{ 'confirm.delete'|trans }}');"><i class="fa-solid fa-trash"></i> {{ 'btn.delete'|trans }}</a>
{% endif %}