{% extends 'setting/base.html.twig' %}

{% block subtitle %}Email{% endblock %}

{% block content %}
    <h1 class="card-title">Email</h1>
    <p>
        Your current email address is <strong>{{ app.user.email }}</strong>
    </p>
    {# todo:form to change email #}

    {# todo: email notification settings? #}
{% endblock %}
