{% extends 'setting/base.html.twig' %}

{% block subtitle %}My profile{% endblock %}

{% block content %}
    <h1 class="card-title">My profile</h1>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <input type="submit">
    {{ form_end(form) }}
{% endblock %}
