{% extends 'setting/base.html.twig' %}

{% block subtitle %}My profile{% endblock %}

{% block content %}
    <h1 class="card-title">My profile</h1>
    <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aperiam assumenda doloribus eum mollitia nobis provident tempora. Atque, laborum!
    </p>
{% endblock %}
