{% extends 'setting/base.html.twig' %}

{% block subtitle %}Account preferences{% endblock %}

{% block content %}
    <h1 class="card-title">Account preferences</h1>
    <p class="card-text">
        Control settings related to your account.
    </p>
    {# todo: Change language / Time zone / Delete account #}
{% endblock %}
