{% extends 'setting/base.html.twig' %}

{% block page_subtitle %}{{ 'settings.security.title'|trans }}{% endblock %}

{% block page_setting_content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">{{ 'settings.security.title'|trans }}</h5>
        </div>
        <div class="card-body">
            <p>
                <span class="badge bg-info">Temporary</span> To change your password, please <a href="{{ path('app_logout') }}">log out</a> and use the "password forgotten" option
            </p>
        </div>
    </div>
{% endblock %}
