{% extends 'setting/base.html.twig' %}

{% block subtitle %}Sécurité{% endblock %}

{% block content %}
    <h1 class="card-title">Security</h1>
    <p>
       Temporary : To change your password, please <a href="{{ path('app_logout') }}">log out</a> and use the "password forgotten" option
        {# todo:form to change password #}
    </p>
{% endblock %}
