{% extends 'company/_show_base.html.twig' %}

{% block page_subtitle %}{{ 'company.show.contacts.title'|trans }}{% endblock %}

{% block page_show_content %}
    SHOW CONTACTS
    <ul>
    {% for contact in contacts %}
        <li>{{ contact }}</li>
    {% endfor %}
    </ul>
    
{% endblock %}
