{% extends 'base.html.twig' %}

{% block page_title %} <strong>Hello</strong> DashboardController!{% endblock %}

{% block page_content %}
<div class="example-wrapper">
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'F:/laragon/www/ProjectFlow/src/Controller/DashboardController.php'|file_link(0) }}">src/Controller/DashboardController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'F:/laragon/www/ProjectFlow/templates/dashboard/index.html.twig'|file_link(0) }}">templates/dashboard/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
